@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Oswald:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primario-1: rgb(6, 158, 247);
  --color-text: rgb(255, 255, 255);
  --color-secundario: rgb(255, 255, 255);
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
  background-color: black;
  height: 100vh;
  width: 100vw;
}
header {
  display: flex;
  flex-flow: row nowrap;
  box-shadow: rgb(58, 58, 58) 0px 0px 10px;
  padding: 20px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 130px;
  z-index: 4;
  background-color: rgb(0, 0, 0);
}
.logo {
  display: flex;
  flex-direction: row;
}
.logo__txt {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__img img {
  width: 8rem;
  height: 8rem;
}
.logo__txt h1 {
  font-size: 30px;
  margin-top: -10px;
}
.logo__txt span {
  font-size: 12px;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: 0.7s;
}

.menu__link {
  color: white;
  font-size: 20px;
  margin: auto 30px;
  text-decoration: none;
  cursor: pointer;
}
.buscar-carrito {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-left: 100px;
}
.buscar {
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.buscar input {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  width: 0px;
  height: 25px;
  padding: 0 20px;
  margin-left: 30px;
  font-size: 14px;
  color: rgb(37, 37, 37);
  outline: none;
  border-radius: 30px;
  border: 1px solid silver;
  transition: all 0.6s ease;
}
.btn {
  background-color: rgb(0, 174, 255);
  text-align: center;
  color: white;
  margin-right: -10px;
  font-size: 18px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding-top: 14px;
  z-index: 2;
}
.buscar:hover input {
  background-color: white;
  width: 200px;
}
.buscar input:focus {
  width: 200px;
}
.carrito {
  font-size: 18px;
  color: white;
  padding-left: 15px;
}
.barra-menu i {
  font-size: 50px;
  padding-left: 15px;
  color: #fff;
  margin-top: 35px;
}
.barra-menu {
  display: none;
}
.volver {
  text-decoration: none;
  color: #fff;
}
/*------------      CONTACTO      -----------------*/

h2 {
  font-size: 180%;
}
main.contacto {
  background-image: url(../assets/img/bg-contacto.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.form {
  width: 600px;
  margin: 25px 50px;
  background-color: rgba(0, 0, 0, 0.349);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: inset 3px #fff;
  border-radius: 30px;
}
legend {
  text-align: center;
  padding: 0 20px;
}
.nombre,
.apellido,
.email {
  width: 240px;
  color: #fff;
  margin: 20px;
  padding: 5px 15px;
  border-radius: 30px;
  border: solid 2px rgb(57, 180, 252);
  background-color: rgba(0, 0, 0, 0.342);
}
.container-edadEmail {
  width: 100%;
  margin-left: 10%;
}
.edad {
  width: 70px;
  margin: 20px 10px 20px 20px;
  padding: 5px 10px;
  border-radius: 30px;
  border: solid 2px rgb(57, 180, 252);
  background-color: rgba(0, 0, 0, 0.342);
  color: #fff;
}
.email {
  margin-left: 37px;
}
.container-profesion {
  border-top: dashed 1px #fff;
  border-bottom: dashed 1px #fff;
  display: flex;
  flex-direction: row;
  width: 85%;
  margin: 0 20px;
  padding: 5px 20px;
  justify-content: space-evenly;
}
.container-opciones {
  display: flex;
  flex-direction: column;
}
.container-opciones input,
label {
  margin: 10px;
}
.otro input {
  width: 160px;
  padding: 5px 15px;
  border-radius: 30px;
  border: solid 2px rgb(57, 180, 252);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.342);
}
.ofertas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 5px 15px 0;
  width: 90%;
  letter-spacing: 1.5px;
}
.ofertas span {
  font-weight: bold;
}
.consulta {
  width: 85%;
  padding: 20px;
  border-radius: 30px;
  border: solid 2px rgb(57, 180, 252);
  background-color: rgba(0, 0, 0, 0.342);
  margin: 10px 0 20px;
  color: #fff;
}
.botones {
  text-align: end;
  padding: 0 65px;
  margin-top: -25px;
  margin-bottom: 25px;
}
.botones .reset {
  background-color: rgba(0, 0, 0, 0.342);
  text-align: center;
  color: #fff;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  border: solid 1px rgb(0, 174, 255);
  margin-right: 25px;
}
.botones .submit {
  background-color: rgba(0, 0, 0, 0.342);
  text-align: center;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  border: solid 1px rgb(0, 174, 255);
}
.submit:hover {
  background-color: rgb(6, 158, 247);
  color: white;
  transition: 0.3s;
}
.reset:hover {
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  transition: 0.3s;
}
/*-------------------     PREGUNTAS      --------------------*/
.container-pf {
  background-image: url(../assets/img/bg-contacto.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.container-pf h2 {
  margin-bottom: 20px;
}
.container-preguntas {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.384);
  border-radius: 30px;
}
.preg-resp {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 20px 0;
}
.preguntas {
  padding: 10px;
}
.preguntas span {
  font-size: 150%;
  font-weight: bold;
}
.preguntas p {
  padding: 20px;
}

/*---------------     NOSOTROS     ---------------*/

.container-nosotros {
  background-image: url(../assets/img/bg-contacto.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.nosotros {
  width: 800px;
  margin: 25px 50px;
  background-color: rgba(0, 0, 0, 0.349);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: inset 3px rgb(121, 120, 120);
  border-radius: 30px;
  padding: 30px;
}
.nosotros h2 {
  letter-spacing: 2px;
}
.nosotros p {
  margin: 20px;
  height: auto;
  letter-spacing: 1px;
  font-size: large;
}

/*--------------   PRODUCTOS    ------------------*/

.container-productos {
  background-image: url(../assets/img/bg-contacto.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
h2.prod {
  margin-bottom: 30px;
}
.productos {
  background-color: rgba(0, 0, 0, 0.349);
  padding: 20px;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-auto-rows: 1fr;
  gap: 100px 60px;
  height: 100%;
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
}
.productos img {
  width: 100%;
  height: 100%;
}
.card {
  border-radius: 30px 30px 0 0;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.card img {
  border-radius: 30px 30px 0 0;
}
.card span {
  border-radius: 0 0 30px 30px;
  cursor: pointer;
  background-color: rgb(110, 110, 110);
  display: block;
  text-align: center;
  font-size: 130%;
  font-weight: bold;
  width: 100%;
  border: solid 2px rgba(255, 255, 255, 0.637);
  padding: 5px;
}
.tabla {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabla h3 {
  text-align: center;
  font-size: 22px;
  letter-spacing: 2px;
}
table {
  width: 800px;
}
tr {
  width: 30%;
}
th {
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 20px;
}
td {
  letter-spacing: 1px;
  text-align: center;
  padding: 10px 20px;
}
th,
td {
  background: rgba(0, 0, 0, 0.5);
}
th:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.24);
}
th:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.418);
}
td:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.418);
}
td:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.24);
}
.personalizar {
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  padding: 20px;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 18px;
  margin: 20px 20px 0;
}
.personalizar span {
  font-size: 22px;
  font-weight: bold;
}
.personalizar .boton {
  background-color: rgba(0, 0, 0, 0.342);
  text-align: center;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px;
  border: solid 2px rgb(0, 174, 255);
}
.personalizar .boton:hover {
  background-color: rgb(6, 158, 247);
  color: white;
  transition: 0.3s;
}
.personalizar .input {
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 14px;
  color: rgb(37, 37, 37);
  outline: none;
  border-radius: 30px;
  border: 1px solid silver;
  max-width: 180px;
}
/*------------------------------------------------*/

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 130px;
  margin: 30px 0;
}
.footer__logo {
  width: 20%;
  padding: 25px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer__logo img {
  height: 65%;
  width: 65%;
  margin-left: 50px;
}
.footer__redes {
  width: 20%;
  padding: 45px 0px;
  padding-left: 100px;
  border-left: solid 1px #fff;
}
.footer__menu {
  width: 25%;
  padding: 25px 0px;
}
.footer__menu a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.footer__suscribite {
  width: 20%;
  padding: 25px 35px;
  margin-left: -150px;
  border-left: solid 1px #fff;
}
.redes {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.redes a {
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.redes li {
  margin: 10px;
}
.menu-footer li {
  margin: 10px;
}
.footer__suscribite label {
  display: block;
  font-size: 18px;
}
.footer__suscribite .input {
  width: 100%;
  height: 25px;
  padding: 0 10px;
  margin: 10px 0;
  font-size: 14px;
  color: rgb(37, 37, 37);
  outline: none;
  border-radius: 30px;
  border: 1px solid silver;
}
.footer__suscribite .boton {
  background-color: rgba(0, 0, 0, 0.342);
  text-align: center;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  border: solid 2px rgb(0, 174, 255);
}
.footer__suscribite .boton:hover {
  background-color: rgb(6, 158, 247);
  color: white;
  transition: 0.3s;
}
.copyright {
  text-align: center;
  background-color: rgba(54, 54, 54, 0.589);
  color: whitesmoke;
  padding: 10px;
}
a:hover {
  color: rgb(6, 158, 247);
  transition: 0.3s;
}
i:hover {
  color: rgb(6, 158, 247);
  transition: 0.3s;
}
.card-index:hover {
  transform: scale(1.15);
  transition: 0.5s;
}

/* ------------------ media ---------------- */
@media (max-width: 400px) {
  .carrito {
    display: none;
  }
}
@media (max-width: 480px) {
  body {
    width: 100vw;
    align-content: center;
    overflow: hidden;
  }
  header {
    position: static;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo__img {
    margin: 0 30px 0 50px;
  }
  .barra-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .barra-menu i {
    font-size: 35px;
    margin: 0;
    padding: 0;
  }
  .menu {
    display: none;
  }
  .logo__txt {
    display: none;
  }
  .buscar input {
    display: none;
  }
  .buscar-carrito {
    padding: 0;
    margin: 0;
  }
  .btn {
    display: none;
  }
  .carrito {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  .volver {
    display: none;
  }

  /*-------------- contacto ------------------*/

  main.contacto {
    width: 100vw;
  }
  .form {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nombre,
  .apellido,
  .email {
    width: 80%;
    color: #fff;
    margin-bottom: 0;
  }
  .edad {
    width: 103px;
    margin-bottom: 0;
  }
  .email {
    margin-bottom: 10px;
    margin-left: 0;
  }
  .container-profesion {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-right: 30px;
    padding: 5px 0;
  }
  .consulta {
    width: 80%;
    margin: 15px 30px 30px 0;
  }
  .botones {
    margin-bottom: 30px;
  }
  .botones .submit {
    width: 45%;
  }
  /*------------- nosotros ------------------*/

  .nosotros {
    width: 90%;
    text-align: justify;
  }

  /*-------------- preguntas -----------------*/
  .img-preguntas {
    display: none;
  }

  /*-------------- productos ------------------*/

  .productos {
    grid-template-columns: 80%;
  }

  .tabla {
    display: none;
  }
  .personalizar {
    margin-top: 50px;
    border: none;
  }

  /*--------------- footer -----------------*/

  .footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .footer__menu {
    display: none;
  }
  .footer__logo {
    display: none;
  }
  .footer__redes {
    width: 100%;
    margin-bottom: 50px;
    padding: 15px 0;
    border: none;
  }
  .redes {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .redes a {
    color: white;
    font-size: 45px;
    cursor: pointer;
  }
  .footer__suscribite {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    border-left: none;
    margin: 60px 0 0;
  }
  .footer__suscribite .input {
    width: 45%;
  }
  .footer__suscribite .boton {
    margin-left: 15px;
  }
}
