@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Oswald:wght@200&display=swap");

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow-x: hidden;
  background-image: url("../assets/img/bg-contacto.jpg");
  height: 100vh;
  margin: 0;
  padding: 0;
}
.btn {
  transition: all 0.3s;
}
.btn:hover {
  background-color: #00a2e8c4;
}
a > .btn:hover {
  background-color: #00a2e8c4 !important;
}
#card-logo {
  font-size: 20px !important;
}
#container-logo-nav {
  width: 75px !important;
  height: 45px;
  padding: 0;
  margin: 0;
}
#logo {
  width: 100% !important;
}
#footer {
  padding: 15px;
}
.col a {
  padding: 0 30px;
}
#logo-footer {
  margin-bottom: 10px;
  width: 250px !important;
  height: 110px;
}
#h3 {
  width: 100% !important;
  display: block;
  text-align: center;
  font-size: 30px !important;
}
.redes i {
  color: rgb(226, 222, 222);
  font-size: 35px;
  padding: 10px;
  margin-right: 10px;
  transition: all 0.3s;
}
.redes span {
  color: rgb(226, 222, 222);
  font-size: 20px;
  padding: 0px;
  margin: 0 25px 0 0;
  text-decoration: none;
  transition: all 0.3s;
}
.redes i:hover {
  color: #00a2e8c4;
}
.redes i:active {
  color: goldenrod;
}
.redes span:hover {
  color: #00a2e8c4;
}
.redes span:active {
  color: goldenrod;
}
#container-logofooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#slide {
  transition: all 0.3s;
}
#slide:hover {
  transform: scale(0.9);
}
#productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 25px;
}
#card {
  transition: all 0.3s;
}
#card:hover {
  transform: scale(1.05);
}
ul {
  list-style: none !important;
}
@media (max-width: 960px) {
  #container-nav-footer {
    display: flex;
    flex-direction: column !important;
    font-size: 20px;
    align-items: center;
    border-top: solid 1px whitesmoke;
    border-bottom: solid 1px whitesmoke;
    margin-top: 15px;
  }
}
@media (min-width: 769px) {
  #footer-ppal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 10% !important;
  }
}
@media (max-width: 769px) {
  #productos {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  #productos {
    grid-template-columns: 1fr;
  }
  #card:hover {
    transform: scale(0.9);
  }
  #preguntas {
    width: 100% !important;
    margin: 0;
  }
  #nosotros {
    width: 100% !important;
    margin: 0;
  }
}
