#footer {
  padding: 15px;

  #container-logofooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      padding: 0 30px;

      #logo-footer {
        margin-bottom: 10px;
        width: 250px !important;
        height: 110px;
      }
    }

    #h3 {
      width: 100% !important;
      display: block;
      text-align: center;
      font-size: 30px !important;
      @extend .transitionTemp;
      cursor: pointer;

      &:hover {
        color: rgb(218, 165, 32) !important;
      }
    }
  }

  .redes {
    i {
      @include icons(35px, 10px, "");
      margin-right: 10px;
    }

    span {
      @include icons(20px, 0px, "no");
      margin: 0 25px 0 0;
      text-decoration: none;
    }
  }
}

@media (max-width: 960px) {
  #container-nav-footer {
    display: flex;
    flex-direction: column !important;
    font-size: 20px;
    align-items: center;
    border-top: solid 1px whitesmoke;
    border-bottom: solid 1px whitesmoke;
    margin-top: 15px;
  }
}
@media (min-width: 769px) {
  #footer-ppal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 10% !important;
  }
}
