@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Oswald:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow-x: hidden;
  background-image: url("../assets/img/bg-contacto.jpg");
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  ul {
    list-style: none !important;
  }
  .container_loader {
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 1.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
      position: relative;
      &::after {
        content: "";
        width: 60px;
        height: 60px;
        background-color: rgb(41, 192, 252);
        border: 1px solid $color-secundary;
        animation: girar 0.5s linear infinite;
        position: absolute;
        top: 0;
        left: -30px;
        border-radius: 3px;
        box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
      }
      &::before {
        content: "";
        width: 60px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.4);
        animation: sombra-animada 0.5s linear infinite;
        position: absolute;
        top: 70px;
        left: -30px;
        border-radius: 50%;
      }
      span {
        color: $color-secundary;
        position: absolute;
        width: 250px;
        z-index: 9999;
        font-size: 40px;
        bottom: 30px;
        right: -140px;
      }
    }
    @keyframes girar {
      17% {
        border-bottom-right-radius: 3px;
      }
      25% {
        transform: translateY(9px) rotate(22.5deg);
      }
      50% {
        transform: scale(1, 0.9) translateY(18px) rotate(45deg);
        border-bottom-right-radius: 40px;
      }
      75% {
        transform: translateY(9px) rotate(67.5deg);
      }
      100% {
        transform: translateY(0) rotate(90deg);
      }
    }
    @keyframes sombra-animada {
      50% {
        transform: scale(1.3, 1);
      }
    }
  }
}

/* @extend */
.transitionTemp {
  transition: all 0.3s;
}

/* @mixin */
@mixin icons($fs, $p, $redes) {
  color: $color-secundary;
  @extend .transitionTemp;
  font-size: $fs;
  padding: $p;
  @if ($redes == "no") {
    &:hover {
      color: $color-primary;
    }
    &:active {
      color: goldenrod;
    }
  }
}

/* maps */
$rrss: (
  whatsapp: #25d366,
  youtube: #ff0000,
  instagram: #833ab4
);

@each $rs, $color in $rrss {
  .fa-#{$rs} {
    &:hover {
      color: $color !important;
    }
  }
}

@media (max-width: 480px) {
  #productos {
    grid-template-columns: 1fr;
    #card:hover {
      transform: scale(0.9);
    }
  }
  #preguntas {
    width: 100% !important;
    margin: 0;
    padding: 48px 20px !important;
  }
  #nosotros {
    width: 100% !important;
    margin: 0;
  }
  #contacto {
    width: 100% !important;
    margin: 0;
  }
}
@media (max-width: 390px) {
  #text-mv {
    margin: 0;
    h1 {
      margin-left: 0 !important;
    }
  }
  #arg {
    display: none;
  }
  #burguer {
    padding: 0;
  }
}
