@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Oswald:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow-x: hidden;
  background-image: url("../assets/img/bg-contacto.jpg");
  height: 100vh;
  margin: 0;
  padding: 0;
  ul {
    list-style: none !important;
  }
}
@media (max-width: 480px) {
  #productos {
    grid-template-columns: 1fr;
    #card:hover {
      transform: scale(0.9);
    }
  }
  #preguntas {
    width: 100% !important;
    margin: 0;
  }
  #nosotros {
    width: 100% !important;
    margin: 0;
  }
  #contacto {
    width: 100% !important;
    margin: 0;
  }
}
