#container-logo-nav {
  width: 75px !important;
  height: 45px;
  padding: 0;
  margin: 0;

  #logo {
    width: 100% !important;
  }
}

.btn {
  transition: all 0.3s;

  &:hover {
    background-color: $color-primary !important;
  }
}

@media (max-width: 390px) {
  #text-mv {
    margin: 0;
    h1 {
      margin-left: 0 !important;
    }
  }
  #arg {
    display: none;
  }
  #burguer {
    padding: 0;
  }
}
